{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "babel"
  ],
  "extends": [
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "no-console": "off",
    "no-restricted-syntax": "off"
  },
  "globals": {
    "cwrap": true
  }
}
